# compiled output
/**/dist
/**/build

# Logs
logs
*.log
pnpm-debug.log*

# Test
/**/coverage
/**/.nyc_output

# IDE - VSCode
/**/*/.vscode/*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


# Diagnostic reports (https://nodejs.org/api/report.html)
/**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# frontend

# dependencies
/**/node_modules

# next.js
/front/.next/
/front/out/

# vercel
/front/.vercel

# typescript
/front/*.tsbuildinfo
/front/next-env.d.ts