# compiled output
/**/dist
/**/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# Tests
/**/coverage
/**/.nyc_output

# IDE - VSCode
/**/ */.vscode/*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


# Diagnostic reports (https://nodejs.org/api/report.html)
/**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# frontend

# dependencies
/**/node_modules

# next.js
/frontend/.next/
/frontend/out/

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts